page-mycart {
  .no-items {
    width: 100vw;
    text-align: center;
    margin-top: 5vh;
    .title {
      font-size: 1.68rem;
      font-weight: 500;
      color: color($colors, secondary);
    }
    .no-items-image {
      padding-top: 3vh;
      padding-left: 1vw;
      text-align: center;
    }
    .no-items-round {
      width: 80vw;
      margin-left: 10vw;
      background-color: color($colors, primary);
      border-radius: 20px;
      margin-top: 2vh;
      button {
        padding: 0 3vw 0 5vw;
        height: 36px;
        font-size: 1.38rem;
        font-weight: 500;
        color: color($colors, pearl);
        text-transform: uppercase;
      }
    }
  }
  .cart-list {
    border: none;
    .cart-list-item {
      ion-thumbnail {
        border: 1px solid color($colors, light);
        width: 86px;
        height: 86px;
        img {
          object-fit: cover;
          width: 86px;
          height: 86px;
        }
      }
      h2 {
        font-size: 1.36rem;
        font-weight: 300;
      }
      .size {
        font-size: 1.16rem;
        font-weight: 300;
        .color {
          margin-left: 5vw;
        }
      }
      .price-wrapper {
        padding-top: 1vh;
        .price {
          font-size: 1.68rem;
          font-weight: 500;
          color: color($colors, primary);
          display: inline-block;
        }
        .old-price {
          margin-left: 3vw;
          margin-top: 3px;
          font-size: 1.26rem;
          font-weight: 400;
          color: color($colors, lightdark);
          text-decoration: line-through;
          position: absolute;
          display: inline-block;
        }
      }
      .right-bag {
        width: 10vw;
        text-align: center;
        .right-button {
          button {
            font-size: 1.5rem;
            .add {
              font-size: 2.5rem;
            }
          }
        }
        .right-quantity {
          border: 1px solid color($colors, lightdark);
          border-radius: 36%;
          padding: 5px 1px 5px 1px;
          font-size: 1.68rem;
          font-weight: 500;
          color: color($colors, primary);
        }
      }
    }
    .actiion-button {
      button {
        width: 18vw;
      }
    }
  }
  .cart-list .item {
    border: none;
    border-bottom: 1px solid color($colors, lightdark) !important;
  }
  .cart-list .odd {
    background-color: color($colors, light) !important;
  }
  .cart-list .item:first-child {
    border: none !important;
    border-bottom: 1px solid color($colors, lightdark) !important;
  }
  .cart-list .item:last-child {
    border: none !important;
    border-bottom: 1px solid color($colors, lightdark) !important;
  }
  .cart-list .item .item-inner {
    border: none;
  }
  .place-order-wrapper {
    width: 100vw;
    .place-order-round {
      width: 80vw;
      margin-left: 10vw;
      background-color: color($colors, primary);
      border-radius: 20px;
      .place-order {
        display: inline-block;
        width: 49vw;
        text-align: right;
        button {
          padding: 0 3vw 0 5vw;
          height: 36px;
          font-size: 1.38rem;
          font-weight: 500;
          color: color($colors, pearl);
          text-transform: uppercase;
        }
        border-right: 2px dotted color($colors, pearl);
        ;
      }
      .order-price {
        padding-left: 3vw;
        margin-top: 10px;
        font-size: 1.83rem;
        font-weight: 500;
        color: color($colors, pearl);
        position: absolute;
        display: inline-block;
      }
    }
  }
}
